=render partial: "users/sidebar"
.creator-page-back
  -if current_user.creator && @creator.id == @creatorMyself.id
    .edit-header
      .edit-header__wrapper
        .comment-left
          Welcome,
          =@creatorMyself.user.name
          !
        .comment-right
          This is your public profile and creator page.
        .edit-btn
          =link_to "EDIT YOUR PAGE", edit_creator_path(@creatorMyself)
  .creator-top-wrapper
    - if @creator.cover_image?
      .image-wrapper{style: "background: url(#{image_path @creator.cover_image}); background-size: cover;"}
        .inner-content
          .inner-content__bottom
            = image_tag @creator.user.avatar_image.to_s
            %h1
              =@creator.user.name
              %span
                is creating
                =@creator.creating_things
    - else
      .image-wrapper
        .inner-content
          .inner-content__bottom
            = image_tag @creator.user.avatar_image.to_s
            %h1
              =@creator.user.name
              %span
                is creating
                =@creator.creating_things
    .bottom-line
      .inner-content
        .bottom-line-left
          .terms
            %ul
              =link_to "#" do
                %li Overview
              =link_to "#" do
                %li Posts
              =link_to "#" do
                %li Community
        .bottom-line-right
          =link_to "BECOME A PATRON", "#"
        .clear

  .creator-main-contents
    .main-contents-wrapper

      .main-contents-left
        .main-contents-left__info
          .patron-count
            %h6 0
            %p patrons
          .per-month-income
            %h6 $0
            %p per month
          .follow-share-btn
            / 「現在のユーザーがクリエイターアカウントを持っていて且つ、そのページが自分自身のページ」"ではない"とき表示。自分自身をフォローできないようにする。
            -unless current_user.creator && @creator.id == @creatorMyself.id
              -if Follow.find_by(user_id: current_user.id, creator_id: @creator.id)
                =link_to "/follows/#{@creator.id}/destroy", method: :delete do
                  %span=fa_icon "check"
                  FOLLOWING
              -else
                =link_to "/follows/#{@creator.id}/create", method: :post do
                  %span=fa_icon "plus"
                  FOLLOW

      .main-contents-center
        -unless @creator.creator_about.blank?
          .main-contents-center__about
            =@creator.creator_about
        .main-contents-center__joint
          %h3
          RECENT POSTS BY
          =@creator.user.name
        .main-contents-center__posts
          =render "creators/home_post"
      .main-contents-right
        -if @rewards.exists?
          .rewards
            .rewards-title REWARDS
            - @rewards.each do |reward|
              .reward
                .reward-title
                  %h6=reward.title
                .patrons-price-count
                  $
                  =reward.price
                  or more per month・
                  XX patrons
                - if reward.image?
                  .reward-image
                    =image_tag reward.image.to_s
                .reward-body
                  =reward.description
                =link_to "/bePatron/#{@creator.id}" do
                  .reward-btn
                    GET $
                    =reward.price
                    REWARD
      .clear
  =render partial: "layouts/footer"
